<template>
  <div>
    <InputSearch />
    <ListPinned />
    <ListTabs />
    <ListHistory />
  </div>
</template>

<script>
import ListPinned from '../components/ListPinned'
import InputSearch from '../components/InputSearch'
import ListTabs from '../components/ListTabs'
import ListHistory from '../components/ListHistory'

export default {
  name: 'app',
  components: { ListPinned, InputSearch, ListTabs, ListHistory },
  data () {
    return {}
  },
  async mounted() {
    this.$store.dispatch('aFetchAllTabs');
    // this.$store.dispatch('aFetchHistory');
  },
}
</script>

<style lang="scss">
  @import '~bootstrap';
  @import '~bootstrap-vue';

  body {
    width: 400px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    line-height: 1.25;
    padding-top: 30px;
  }
  .badge {
    width: 22px;
  }
  div[aria-controls]{
    cursor: pointer;
  }
  .pnt {
    cursor: pointer;
  }
  .bg-domain {
    background-color: #17a2b80a;
  }
  .bg-history {
    background-color: #ffc1070a;
  }
  *[light-row]:hover {
    background-color: rgba(255, 251, 234, 0.4);
  }
  [aria-controls]:focus {
    outline: none;
  }
</style>

<style type="text/css">
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #919191;
    border: 0px none #ffffff;
  }
  ::-webkit-scrollbar-track {
    background: #dedede;
    border: 0px none #dedede;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
</style>