<template>
    <div id="search_area">
        <input 
            v-model="filter"
            class="form-control form-control-sm fixed-top" 
            type="search" 
            placeholder="Search by domain"
            @keyup="setFilter"
            @change="setFilter"
            @paste="setFilter"
            autofocus
        >
    </div>
</template>

<script>
    import { mapMutations, mapActions } from 'vuex';
    export default {
        name: 'create',
        data: () => ({
            filter: '',
        }),
        destroyed() {
            if (this.date && this.date.destroy) {
                this.date.destroy()
            }
        },
        methods: {
            ...mapMutations(['mUpdateFilter']),
            ...mapActions(['aFetchHistory']),
            setFilter(){
                // console.log(this.filter);
                this.mUpdateFilter(this.filter);
                this.aFetchHistory();
            },
        },
    }
</script>

<style lang="scss">
    
</style>