<!--  https://bootstrap-vue.org/docs/components/collapse -->
<template>
    <div role="tablist" class="m-0 p-0">
        <div class="lead m-0 p-1 small font-weight-normal bg-domain">
            <b-icon icon="folder" variant="info"></b-icon> Domains
        </div>
        <div v-if="Object.keys(getDomainsFiltered).length === 0" class="w-100 p-1 text-center text-muted border-bottom bg-domain">
            <b-icon icon="dash"></b-icon>
        </div>
        <template v-for="domain in getDomainsFiltered">
            <!-- <div v-b-toggle="'accordion-'+'1'" class="text-info"> -->
            <div :key="domain[0].domain" :id="domain[0].domain" class="d-flex bg-domain border-top" style="padding: 2px;">
                <div v-b-toggle="'c+'+domain[0].domain" class="d-flex w-100 pnt" no-key-nav="true">
                    <div>
                        <span class="badge badge-light">{{domain.length}}</span>
                    </div>
                    <div>
                        <img v-if="domain[0].icon" class="rounded border border-secondary" :src="domain[0].icon" width="16" heigth="16">
                        <b-icon v-else icon="window" variant="info"></b-icon>
                    </div>
                    <div class="ml-1 mr-1 flex-grow-1 text-truncate text-dark font-weight-light">
                        <span>{{domain[0].domain}}</span>
                    </div>
                    <div class="mr-1 text-info when-closed" title="Browse all tabs">
                        <b-icon icon="chevron-down" variant="info"></b-icon>
                    </div>
                    <div class="mr-1 text-info when-opened" title="Browse all tabs">
                        <b-icon icon="chevron-up" variant="info"></b-icon>
                    </div>
                </div>
                <div @click.prevent="callSortTabs(domain.map(v=>{return v.tid}), domain[0].wid)" class="mr-1 text-info pnt" :title="'Sort tabs for '+domain[0].domain">
                    <b-icon icon="arrow-down-up" variant="info"></b-icon>
                </div>
                <div @click="callRemoveTabs(domain.map(v=>{return v.tid}), domain[0].domain)" class="text-danger pnt" :title="'Close all tabs for '+domain[0].domain">
                    <b-icon icon="folder-minus" variant="danger"></b-icon>
                </div>
            </div>
            <ListTabsSub :key="'p_'+domain[0].domain" :tabs="domain" :flt="filter" />
                <!-- <b-collapse :id="'accordion-'+'1'" role="tabpanel">
                    <div>I start opened because <code>visible</code> is <code>true</code></div>
                </b-collapse> -->
        </template>
    </div>
</template>

<script>
    import { cmn } from '../popup/commonmtd';
    import ListTabsSub from './ListTabsSub';
    import { mapGetters, mapState } from 'vuex';
    import { BIcon, BIconChevronDown, BIconChevronUp, BIconWindow, BIconFolder, BIconFolderMinus, BIconArrowDownUp, BIconDash } from 'bootstrap-vue';
    export default {
        name: 'list-tabs',
        // computed: mapGetters(['getDomainsFiltered']),
        computed: {
            ...mapGetters({
                getDomainsFiltered: 'getDomainsFiltered'
            }),
            ...mapState({
                filter: 'filter'
            }),
        },
        components: {
            ListTabsSub,
            BIcon,
            BIcon,
            BIconChevronDown,
            BIconChevronUp,
            BIconWindow,
            BIconFolder,
            BIconFolderMinus,
            BIconArrowDownUp,
            BIconDash,
        },
        methods: {
            async callRemoveTabs(tabIds, domain) {
                this.$delete(this.$store.state.domains, domain);
                await this.$store.dispatch('aRemoveTabs', {idxs: tabIds, domain: domain});
            },
            callSortTabs(tids, windowId) {
                try {
                    chrome.tabs.move(tids, {windowId: windowId, index: -1});
                } catch (error) {}
            },
        },
    }

</script>

<style lang="scss" scoped>
    .collapsed > .when-opened,
    :not(.collapsed) > .when-closed {
        display: none;
    }    
</style>