<template>
    <ul id="pinned" class="list-group">
        <li v-for="(item) in getAudibles" :key="item.tid" class="small list-group-item d-flex pnt p-1">
            <div class="text-center" style="width: 16px;">
                <b-icon icon="volume-up" variant="success" style="width: 16px; height: 16px;"></b-icon>
            </div>
            <div class="text-center" style="width: 16px;">
                <img v-if="item.icon" data-type="i" class="rounded border border-secondary" :src="item.icon" width="16" heigth="16">
                <b-icon v-else icon="window" variant="info" style="width: 16px; height: 16px;"></b-icon>
            </div>
            <div class="ml-1 mr-1 flex-grow-1 text-truncate text-secondary">
                <span>{{item.title}}</span>
            </div>
            <div data-type="i" class="text-danger" title="Close this pinned tab" @click="callRemoveTabs([item.tid])">
                <b-icon icon="x-circle" variant="danger"></b-icon>
            </div>
        </li>
        <li v-for="item in getPinneds" :key="item.tid" class="small list-group-item pnt d-flex p-1">
            <div class="text-center" style="width: 16px;">
                <b-icon icon="paperclip" variant="primary" style="width: 16px; height: 16px;"></b-icon>
            </div>
            <div class="text-center" style="width: 16px;">
                <img v-if="item.icon" data-type="i" class="rounded border border-secondary" :src="item.icon" width="16" heigth="16">
                <b-icon v-else icon="window" variant="info" style="width: 16px; height: 16px;"></b-icon>
            </div>
            <a @click.prevent="gotoTab(item.tid, item.wid)" href="#" class="ml-1 mr-1 flex-grow-1 text-truncate">
                {{item.title}}
            </a>
            <div data-type="i" class="text-danger" title="Close this pinned tab" @click="callRemoveTabs([item.tid])">
                <b-icon icon="x-circle" variant="danger"></b-icon>
            </div>
        </li>
    </ul>
</template>
<script>
    import {cmn} from '../popup/commonmtd';
    import {mapGetters} from 'vuex';
    import { BIcon, BIconPaperclip, BIconXSquare, BIconWindow, BIconVolumeUp, BIconXCircle } from 'bootstrap-vue';
    export default {
        computed: mapGetters(['getPinneds','getAudibles']),
        components: {
            BIcon,
            BIconPaperclip,
            BIconXSquare,
            BIconWindow,
            BIconVolumeUp,
            BIconXCircle,
        },
        methods: {
            gotoTab(tabId, windowId){
                cmn.gotoTab(tabId, windowId)
            },
            async callRemoveTabs(tabIds, domain) {
                await this.$store.dispatch('aRemoveTabs', {idxs: tabIds});
            },
        },
    }
</script>

<style lang="scss">
    
</style>