<template>
    <div>
        <div class="lead m-0 p-1 small font-weight-normal border-top bg-history">
            <b-icon icon="clock-history" variant="warning"></b-icon> History
        </div>
        <div v-if="getHistory.length === 0" class="w-100 p-1 text-center text-muted border-bottom bg-history">
            <b-icon icon="dash"></b-icon>
        </div>
        <div v-for="tab in getHistory" :key="tab.tid" :title="tab.title"  @click="createUrlInNewTab(tab.url, tab.tid)" class="d-flex border-top small pnt p-1 m-0" light-row='true'>
            <div class="text-primary">
                {{tab.domain || '@'}}
            </div>
            <div class="text-secondary text-truncate ml-1">
                {{tab.title || tab.url || '— untitled —'}}
            </div>
        </div>
        <!-- <b-collapse id="accordion-1" role="tabpanel">
            <div>
            </div>
        </b-collapse> -->
    </div>
</template>
<!--
<template>
    <b-collapse :id="'history-tab'" role="tabpanel">
        <div>
            <div v-for="tab in getHistory" :key="tab.tid" class="small d-flex" style="padding: 1px; margin: 0px;">
                <div class="flex-grow-1 text-truncate px-1 pnt" :title="'GOTO: '+tab.title" @click="gotoTab(tab.tid, tab.wid)">
                    <img v-if="tab.icon" class="rounded border border-secondary" :src="tab.icon" width="12" heigth="12">
                    <b-icon v-else icon="window" variant="info"></b-icon>
                    <b-icon v-if="tab.pinned" icon="paperclip" variant="primary"></b-icon>
                    <span class="ml-1">{{tab.title || '— untitled —'}}</span>
                </div>
                <div class="mx-1 pnt" title="Close this tab" @click="removeTab(tab.tid)">
                    <b-icon icon="x-circle" variant="danger"></b-icon>
                </div>
            </div>
        </div>
    </b-collapse>
</template>
-->
<script>
    import { mapGetters } from 'vuex';
    import { cmn } from '../popup/commonmtd';
    import { BCollapse, BButton, BIcon, BIconPaperclip, BIconXSquare, BIconWindow, BIconVolumeUp, BIconXCircle, BIconDash, BIconClockHistory } from 'bootstrap-vue';
    export default {
        computed: {
            ...mapGetters({
                getHistory: 'getHistory'
            }),
        },
        components: {
            BCollapse,
            BButton,
            BIcon,
            BIconPaperclip,
            BIconXSquare,
            BIconWindow,
            BIconXCircle,
            BIconDash,
            BIconClockHistory,
            // CollapsePlugin,
        },
        methods: {
            createUrlInNewTab(url, tabId){
                cmn.createUrlInNewTab(url, tabId)
            },
        },
        async mounted() {
            this.$store.dispatch('aFetchHistory');
        },
    }
</script>

<style lang="scss" >

</style>
