<!--  https://bootstrap-vue.org/docs/components/collapse -->
<template>
    <b-collapse :id="'c+'+tabs[0].domain" :visible="!!flt" role="tabpanel">
        <div>
            <div v-for="(tab, idx) in tabs" :key="tab.tid" class="small d-flex" style="padding: 1px; margin: 0px;" light-row='true'>
                <div @click.prevent="gotoTab(tab.tid, tab.wid)" class="flex-grow-1 text-truncate px-1 pnt" :title="'GOTO: '+tab.title">
                    <img v-if="tab.icon" class="rounded border border-secondary" :src="tab.icon" width="12" heigth="12">
                    <b-icon v-else icon="window" variant="info"></b-icon>
                    <b-icon v-if="tab.pinned" icon="paperclip" variant="primary"></b-icon>
                    <a href="#" class="ml-1">{{tab.title || tab.url || '— untitled —'}}</a>
                </div>
                <div class="mx-1 pnt" title="Close this tab" @click="callRemoveTabs([tab.tid], tab.domain, idx)">
                    <!-- <b-icon icon="x-square" variant="danger"></b-icon> -->
                    <b-icon icon="x-circle" variant="danger"></b-icon>
                </div>
            </div>
        </div>
    </b-collapse>
</template>
<script>
    // import {mapGetters} from 'vuex';
    import {cmn} from '../popup/commonmtd';
    // import { mapActions } from 'vuex';
    import { BCollapse, BIcon, BIconPaperclip, BIconXSquare, BIconWindow, BIconVolumeUp, BIconXCircle } from 'bootstrap-vue';
    export default {
        props: ['tabs', 'flt'],
        components: {
            BCollapse,
            BIcon,
            BIconPaperclip,
            BIconXSquare,
            BIconWindow,
            BIconXCircle,
            // CollapsePlugin,
        },
        methods: {
            gotoTab(tabId, windowId){
                cmn.gotoTab(tabId, windowId)
            },
            async callRemoveTabs(tabIds, domain, idx) {
                await this.$store.dispatch('aRemoveTabs', {idxs: tabIds, domain: domain, oneIdx: idx});
            },
        },
    }
</script>

<style lang="scss" >
</style>
